<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Guild Cars!</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="/images/brandlogo.png" width="40" height="30"> 
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Inventory
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="inventoryNew">New</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="inventoryUsed">Used</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="specials">Specials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="salesIndex">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Admin</a>
                        </li>
                    </ul>

                </div>
        </nav>
    </header>
    <div class="container">
        <h1>Admin</h1>
        <li>
            <a href="addCar">Add a new vehicle</a>
        </li>
    </div>
    <div>
        <div class="row m-4">
            <div class="col border border-dark">
                <h3>Quick search</h3>
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" id="keywords" placeholder="Enter make, model, or year">
                        </div>
                        <div class="col text-right">
                            <label for="price">Price:</label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="minPrice" name="minPrice">
                                <option value="0">No min</option>
                                <option value="5000">$5,000</option>
                                <option value="10000">$10,000</option>
                                <option value="20000">$20,000</option>
                                <option value="30000">$30,000</option>
                                <option value="40000">$40,000</option>
                                <option value="50000">$50,000</option>
                                <option value="60000">$60,000</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="maxPrice" name="maxPrice">
                                <option value="0">No max</option>
                                <option value="5000">$5,000</option>
                                <option value="10000">$10,000</option>
                                <option value="20000">$20,000</option>
                                <option value="30000">$30,000</option>
                                <option value="40000">$40,000</option>
                                <option value="50000">$50,000</option>
                                <option value="60000">$60,000</option>
                            </select>
                        </div>
                        <div class="col text-right  ">
                            <label for="year">Year:</label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="mimYear" name="minYear">
                                <option value="0">No min</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="maxYear" name="maxYear">
                                <option value="2022">No max</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="container"> 
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div> 
    <div>
        <div class="row m-4" id="searchResults">
            <h2>Search results:</h2>

            <div id="carTableDiv">
                <table id="carTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="10%">Picture</th>
                            <th width="15%">Tag</th>
                            <th width="5%">Body Style</th>
                            <th width="5%">Trans</th>
                            <th width="5%">Color</th>
                            <th width="5%">Interior</th>
                            <th width="5%">Mileage</th>
                            <th width="5%">VIN</th>
                            <th width="10%">Sales Price</th>
                            <th width="5%">MSRP</th>
                            <th width="5%">Action</th>
                            <th width="5%">Edit</th>
                        </tr>
                    </thead>

                    <tbody id="carContentRows">
                        <tr th:each="car : ${cars}">
                            <td th:src="@{/${car.picture}}">car picture</td>
                            <td th:text="${car.tag}">car tag name</td>
                            <td th:text="${car.bodyStyle}">car bodyStyle</td>
                            <td th:text="${car.transmission}">car transmission</td>
                            <td th:text="${car.color}">car color</td>
                            <td th:text="${car.interior}">car interior</td>
                            <td th:value="${car.mileage}">car mileage</td>
                            <td th:text="${car.vin}">car vin</td>
                            <td th:value="${car.salesPrice}">car salesPrice</td>
                            <td th:text="${car.msrp}">car msrp</td>
                            <td><a href="#" th:href="@{/guildcars.com/editCar(id=${car.id})}">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    
   
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../scripts/jquery-3.0.0.min.js"></script>
    <script src="../scripts/cars.js"></script>
</body>
</html>