<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/styles.css" />

    <title>Guild Cars!</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img
          src="/images/brandlogo.png"
          width="40"
          height="30"
          alt="Still broke"
        />
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=""
                >Home <span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Inventory
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="inventoryNew">New</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="inventoryUsed">Used</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="specials">Specials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="salesIndex">Sales</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br />

    <div class="container">
      <div class="text-left"><h2>Sales</h2></div>
      <form class="form-inline">
        <div class="row">
          <div class="form-group">
            <label for="inputSearch">Quick Search: </label>
            <input
              type="text"
              class="form-control"
              id="inputSearch"
              placeholder="Make, Model or Year"
              name="inputSearch"
            />
          </div>
          <div class="form-group">
            <h5>Price</h5>
            <select class="custom-select custom-select-sm">
              <option selected>No Min Price</option>
              <option value="1">Min</option>
            </select>
            <select class="custom-select custom-select-sm">
              <option selected>No Max Price</option>
              <option value="1">Max</option>
            </select>
          </div>
          <div class="form-group">
            <h5>Year</h5>
            <select class="custom-select custom-select-sm">
              <option selected>No Min Year</option>
              <option value="1">Min</option>
            </select>
            <select class="custom-select custom-select-sm">
              <option selected>No Max Year</option>
              <option value="1">Max</option>
            </select>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    <br />
    <div class="container" id="searchContainer">
      <div class="text-left"><h2>Search Results</h2></div>

      <div id="carTableDiv">
        <table id="carTable" class="table table-hover">
          <thead>
            <tr>
              <th width="10%">Picture</th>
              <th width="10%">Tag</th>
              <th width="5%">Body Style</th>
              <th width="5%">Trans</th>
              <th width="5%">Color</th>
              <th width="5%">Interior</th>
              <th width="5%">Mileage</th>
              <th width="5%">VIN</th>
              <th width="10%">Sales Price</th>
              <th width="5%">MSRP</th>
              <!-- <th width="5%"></th> -->
            </tr>

            <!-- we will add data rows dynamically to the tbody -->
          </thead>

          <tbody id="carRows">
            <tr th:each="unsoldCar : ${unsoldCars}">
              <td th:src="@{/${unsoldCar.picture}}">car picture</td>
              <td th:text="${unsoldCar.tag}">car tag name</td>
              <td th:text="${unsoldCar.bodyStyle}">car bodyStyle</td>
              <td th:text="${unsoldCar.transmission}">car transmission</td>
              <td th:text="${unsoldCar.color}">car color</td>
              <td th:text="${unsoldCar.interior}">car interior</td>
              <td th:value="${unsoldCar.mileage}">car mileage</td>
              <td th:text="${unsoldCar.vin}">car vin</td>
              <td th:value="${unsoldCar.salesPrice}">car salesPrice</td>
              <td th:text="${unsoldCar.msrp}">car msrp</td>
              <!-- <a class="nav-link" href="#"
                ><button class="button button-primary">Buy</button></a
              > -->
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="row border-dark">
        <div class="col-3">
          <p id="carName"></p>
          <div id="carImage"></div>
        </div>
        <div class="col-3">
          <p id="carBody"></p>
          <p id="carTrans"></p>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div> -->
    </div>
    <!-- End main body -->

    <!-- Optional JavaScript -->

    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script> -->
    <script src="../static/scripts/jquery-3.0.0.min.js"></script>
    <script src="../static/scripts/salesIndex.js"></script>
  </body>
</html>
